<div class="modal fade" id="newVehicle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add a vehicle to the list</h4>
      </div>
      <div class="modal-body">
        <%= form_for([@user, @vehicle]) do |f| %>
            <%= f.label :name, "Vehicle name" %>
            <%= f.text_field :name, class: 'form-control' %>
            <%= f.label :matriculation_date %>
            <%= f.hidden_field :matriculation_date %>
            <%= content_tag(:div, nil, id: "datepicker_div") %>

            <%= f.submit "Add", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#datepicker_div').datepicker({
    format: "mm/dd/yyyy",
    weekStart: 1,
    startView: 2,
    calendarWeeks: true
  });
  $('#datepicker_div').on("changeDate", function() {
    $('#vehicle_matriculation_date').val(
        $('#datepicker_div').datepicker('getFormattedDate')
    );
  });
</script>