<div class="page-header">
  <h3>Vehicles (<%= @user.vehicles.count %>)
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newVehicle">
    <%= icon('fa fa-plus') %> Add vehicle
  </button>
  </h3>
</div>

<!-- Modal form to create new Vehicles -->
<%= render 'users/modal_new_vehicle' %>

<!-- Modal form to create new Insurance -->
<%= render 'users/modal_new_insurance' %>

<!-- List all user's vehicles, if any -->
<% if @user.vehicles.any? %>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
    <%= render @vehicles %>
  </div>
<% else %>
  <h3>There are no registered vehicles</h3>
<% end %>

